:root {
  --brand-color-H: 198;
  --brand-color-S: 97%;
  --brand-color-L: 43%;
  --brand-typography: arial, sans-serif;
  /* auto calculated */
  --brand-color: hsl(
    var(--brand-color-H),
    var(--brand-color-S),
    var(--brand-color-L)
  );
  --brand-color-wcag-dark: hsl(var(--brand-color-H), 85%, 30%);
  --brand-color-wcag-typography: hsl(var(--brand-color-H), 15%, 15%);
  --brand-color-body-background: hsl(var(--brand-color-H), 15%, 95%);
}
html {
  font-size: 16px;
}
body {
  font-family: var(--brand-typography);
  line-height: 1.25rem;
  background-color: var(--brand-color-body-background);
}
* {
  box-sizing: border-box;
  font-size: 1rem;
  color: var(--brand-color-wcag-typography);
  /*margin: 0;
  padding: 0;*/
}

h1,
h2 {
  font-weight: normal;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1.125rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.875rem;
}
h6 {
  font-size: 0.75rem;
}
a,
button {
  cursor: pointer;
}
a {
  color: hsl(240, 100%, 40%);
}
button {
  border: none;
  padding: 0.25rem;
  background-color: transparent;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.25;
}
button.primary,
button.secondary {
  padding: 0.75rem;
  border-radius: 0.125rem;
  text-align: center;
}
button.primary {
  background-color: var(--brand-color-wcag-dark);
  color: white;
}
button.secondary {
  background-color: transparent;
  border: 1px solid var(--brand-color-wcag-dark);
}
button:hover {
  background-color: hsl(var(--brand-color-H), var(--brand-color-S), 95%);
}
button:hover.primary {
  background-color: hsl(var(--brand-color-H), var(--brand-color-S), 25%);
}
