:root {
  /* Brand primary color */
  --brand-color-primary-H: 198;
  --brand-color-primary-S: 97%;
  --brand-color-primary-L: 43%;
  /* Brand secondary color */
  --brand-color-secondary-H: 31;
  --brand-color-secondary-S: 87%;
  --brand-color-secondary-L: 53%;
  /* Brand typography */
  --brand-typography: Arial, Helvetica, sans-serif;
  --brand-typography-numeric: "Lucida Console", Monaco, monospace;
  /* Breaking down brand colors into their Hue, Saturation, Lightness (HSL) parts */
  --brand-primary-color: hsl(
    var(--brand-color-primary-H),
    var(--brand-color-primary-S),
    var(--brand-color-primary-L)
  );
  --brand-secondary-color: hsl(
    var(--brand-color-secondary-H),
    var(--brand-color-secondary-S),
    var(--brand-color-secondary-L)
  );
  /* Semantic Colors */
  --semantic-color-error: hsl(6, 63%, 46%);
  --semantic-color-success: hsl(147, 85%, 26%);
  --semantic-color-warning: hsl(30, 96%, 35%);
  --semantic-color-info: hsl(210, 86%, 43%);
  --semantic-color-anchor: hsl(240, 100%, 40%);
  /* Converting brand colors into WCAG compliant colors manually by adjusting Saturation and Lightness */
  --brand-color-wcag-dark: hsl(
    var(--brand-color-primary-H),
    var(--brand-color-primary-S),
    33%
  );
  --brand-color-wcag-typography-primary: hsl(
    var(--brand-color-primary-H),
    15%,
    20%
  );
  --brand-color-wcag-typography-secondary: hsl(
    var(--brand-color-primary-H),
    10%,
    35%
  );
  --brand-color-wcag-typography-tertiary: hsl(
    var(--brand-color-primary-H),
    10%,
    43%
  );
  --brand-color-body-background: hsl(var(--brand-color-primary-H), 30%, 97%);
}
html {
  font-size: 16px;
}
body {
  font-family: var(--brand-typography);
  background-color: var(--brand-color-body-background);
}
* {
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.15;
  color: var(--brand-color-wcag-typography);
  /*margin: 0;
  padding: 0;*/
}

h1,
h2 {
  font-weight: normal;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1.125rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.875rem;
}
h6 {
  font-size: 0.75rem;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
mark {
  padding: 0.125rem;
  background-color: yellow;
}
small,
blockquote footer {
  font-size: 75%;
  opacity: 0.85;
}
blockquote {
  padding: 0.125rem 0.5rem 1rem 1rem;
  margin: 0.25rem;
  border-left: 0.25rem solid var(--brand-secondary-color);
}
a,
button {
  cursor: pointer;
}
a {
  color: var(--semantic-color-anchor);
}
button {
  border: none;
  padding: 0.25rem;
  background-color: transparent;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.25;
}
button.primary,
button.secondary {
  padding: 0.75rem;
  border-radius: 0.125rem;
  text-align: center;
}
button.primary {
  background-color: var(--brand-color-wcag-dark);
  color: white;
}
button.secondary {
  background-color: transparent;
  border: 1px solid var(--brand-color-wcag-dark);
}
button:hover {
  background-color: hsl(
    var(--brand-color-primary-H),
    var(--brand-color-primary-S),
    95%
  );
}
button:hover.primary {
  background-color: hsl(
    var(--brand-color-primary-H),
    var(--brand-color-primary-S),
    25%
  );
}
/* Form */
label {
  opacity: 85%;
  font-size: 0.875rem;
}
